  body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}

  .container-fluid {
      padding-top: 10px;
      padding-bottom: 10px;
  }
/*  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }*/
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }


.footer {
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding-bottom: 10px;
    color: white;
    background-color: black;
}

.footer li a:hover {
  color: #1abc9c !important;
  background-color: transparent !important;

}